/*
font-family: 'Open Sans', sans-serif;
*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: rgb(10, 10, 226);
    padding: 16px 0;

}

header h1{
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;


}

nav{
    background-color: rgb(250, 186, 186);
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    background-color: rgb(0, 0, 0, 0.3);
}

footer{
    background-color: gray;
    clear: both;
    color: rgb(63, 54, 54);
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    
}

nav ul li a.activo{
    background-color: blue;

}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

h2{
    font-weight: 700;
}

.bienvenidos{
    width: 200px;
    padding-right: 10px;
    box-sizing: border-box;
}

h2{
    color: rgb(93, 93, 226);
    font-weight: 400;

}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 400px  ;
}

.historia{
    font-size: 12px;
}

.personas{
    display: flex;
   
}

.personas{
    border: 1px solid rgb(241, 220, 220);
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    background-color: aqua;
}


