<main>
        <div class="galeria">
           <img src="images/DSC_0162 (1)[299].jpg" alt="">
           <img src="images/DSC_0200[300].jpg" alt="">
           <img src="images/DSC_0420[303].jpg" alt="">
           <img src="images/DSC_04255[305].jpg" alt="">
           <img src="images/DSC_0831[301].jpg" alt="">
        </div>
        
        


        
      
        


    </main>