 <main>
       Un instante muerto...
lleno de alegria
de colores y sabores
de musica y cantos
de dias de algarabia
de hijos recien nacidos
de nietos que donan risas
de padres, madres y abuelos
de familias completas.
y barrios enteros,
del primer novio.
del primer te quiero.
de vistas al mar..
de vistas al cielo..
Son recuerdos que se avivan
subidos en un barco de papel. 


    </main>