<div>
        <h2>Contacto Rapido</h2>
        <form action="/contacto" method="post" class="Formulario">
            <p>
                <label for="Nombre">Nombre</label>
                <input type="text" name="nombre">
            </p>
            <p>
                <label for="Email">Email</label>
                <input type="text" name="email" >
            </p>
            <p>
                <label for="Telefno">Telefono</label>
                <input type="text" name="tel" >

            </p>
            <p>
                <label for="Mensaje">Mensaje</label>
                <input type="text" name="mensaje"></textarea>

            </p>
            <p class="acciones"><input type="submit"
                value="Enviar"/>

            </p>

        </form>
        <p>{{message}}</p>

       </div>