<div class="paisaje">
         <img src="images/DSC_0425[305].jpg" alt="">
        </div>
        <div class="bienvenidos">
            <h2> Bienvenidos</h2>
            <p>Recordar es vivir y en tu álbum encontraste la fuente de la vida.Las fotografías son sueños
                verdaderos
                que han quedado plasmados en el tiempo,
                son como esos cuentos que han pasado,
                que atrás quedaron pero aún se siguen sintiendo. </p>

        </div>

