 <h2>
            Tenemos las siguientes propuestas para ofrecerte:
        </h2>
    <p>
        <ul class="servicios">
            
            <li>fotografia Publicitaria</li>
            <li>fotografia Retrato</li>
            <li>fotografia de Producto</li>
            <li>fotografia Surrealista</li>
            <li>fotografia de Paisajes</li>

        </ul>
    </p>